<app-player *ngFor="let player of room.players" [player]="player"/>

<!--<div class="game-table">-->
<!--  <div class="player">-->
<!--    <div class="played-card">-->
<!--      <div class="played-card-value recto">5</div>-->
<!--    </div>-->
<!--    <div class="player-info">-->
<!--      Ben-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="player">-->
<!--    <div class="played-card">-->
<!--    </div>-->
<!--    <div class="player-info">-->
<!--      <span>Benjamingktlelvtdex</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="player">-->
<!--    <div class="played-card">-->
<!--      <div class="played-card-value verso">-->
<!--        <span>5</span>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="player-info">-->
<!--      Ben-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

